<?xml version="1.0" ?>
<robot name="hsrb" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="gazebo_visualization_enabled" default="true" />

    <xacro:macro name="hokuyo_laser_gazebo" params="sensor_name robot_namespace ros_topic frame_name min_angle max_angle">
      <gazebo reference="${frame_name}">
        <sensor name="${sensor_name}" type='gpu_lidar'>
          <pose>0 0 0 0 0 0</pose>
          <topic>${robot_namespace}/${sensor_name}/${ros_topic}</topic>
          <gz_frame_id>${frame_name}</gz_frame_id>
          <update_rate>30.0</update_rate>
          <visualize>$(arg gazebo_visualization_enabled)</visualize>
          <lidar>
            <scan>
              <horizontal>
                <samples>721</samples>
                <resolution>1</resolution>
                <min_angle>${min_angle}</min_angle>
                <max_angle>${max_angle}</max_angle>
              </horizontal>
              <vertical>
                <samples>1</samples>
                <resolution>1</resolution>
                <min_angle>0.0</min_angle>
                <max_angle>0.0</max_angle>
              </vertical>
            </scan>
            <range>
              <min>0.05</min>
              <max>60.0</max>
              <resolution>0.001</resolution>
            </range>
          </lidar>
        </sensor>
      </gazebo>
    </xacro:macro>

</robot>
